trunk/source/dcap/web-app/Service References/DcapServiceReference/DcapService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="loginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginResult" type="tns:UserDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UserDto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="AccountNumber" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="ParentId" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="ParentDirectId" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FullName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NgaySinh" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="SoCmnd" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NgayCap" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="SoDienThoai" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DiaChi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GioiTinh" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SoTaiKhoan" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ChiNhanhNH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ImageUrl" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatedDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="CreatedBy" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AllRoles" type="tns:ArrayOfRoleDto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRoleDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RoleDto" nillable="true" type="tns:RoleDto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RoleDto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RoleID" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="RoleCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="changePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="oldPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="confirmPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="changePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="changePasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="parentId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="directParentId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ngaySinh" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="soCmnd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ngayCap" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="soDienThoai" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="diaChi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="gioiTinh" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="soTaiKhoan" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="chiNhanhNH" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="photoUrl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="createdBy" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fullName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ngaySinh" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="soCmnd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ngayCap" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="soDienThoai" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="diaChi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="gioiTinh" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="soTaiKhoan" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="chiNhanhNH" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="photoUrl" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateUserAdmin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fullName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="roleCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="createdBy" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateUserAdminResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateUserAdminResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="parentId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="directParentId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ngaySinh" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="soCmnd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ngayCap" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="soDienThoai" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="diaChi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="gioiTinh" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="soTaiKhoan" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="chiNhanhNH" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchBangKe">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="thangKeKhai" nillable="true" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchBangKeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchBangKeResult" type="tns:ArrayOfBangKeDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBangKeDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BangKeDto" nillable="true" type="tns:BangKeDto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BangKeDto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="STT" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="HoTen" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GioiTinh" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SoCmnd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NgayCap" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DiaChi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SoTaiKhoan" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ChiNhanhNH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SoDienThoai" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NgayDangKy" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NguoiBaoTro" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SoTien" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="Thang" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsPaid" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="HeThong" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="QuanLy" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ThuongThem" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="SearchBangKeExt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="beginDate" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="endDate" nillable="true" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchBangKeExtResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchBangKeExtResult" type="tns:ArrayOfBangKeDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchBangKeHoaHong">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="accountNumber" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="thangKeKhai" nillable="true" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchBangKeHoaHongResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchBangKeHoaHongResult" type="tns:ArrayOfHoaHongMemberDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfHoaHongMemberDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HoaHongMemberDto" nillable="true" type="tns:HoaHongMemberDto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="HoaHongMemberDto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="STT" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="AccountId" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="TrucTiep" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="CanCap" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="HeThong" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="QuanLy" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ThuongThem" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Tong" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="Thang" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SearchUserInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="soCmnd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idThanhVien" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="hoTen" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchUserInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchUserInfoResult" type="tns:ArrayOfUserDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUserDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UserDto" nillable="true" type="tns:UserDto" />
        </s:sequence>
      </s:complexType>
      <s:element name="SearchMemberNodeDto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchMemberNodeDtoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchMemberNodeDtoResult" type="tns:ArrayOfMemberNodeDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMemberNodeDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MemberNodeDto" nillable="true" type="tns:MemberNodeDto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MemberNodeDto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AccountId" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="ParentId" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SearchManagerNodeDto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="capQuanLy" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accountNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchManagerNodeDtoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchManagerNodeDtoResult" type="tns:ArrayOfMemberNodeDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsContainMemberNode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="rootNumber" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="accountNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsContainMemberNodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsContainMemberNodeResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNodeDto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNodeDtoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNodeDtoResult" type="tns:MemberNodeDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetParentNodeByChildNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parentField" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetParentNodeByChildNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetParentNodeByChildNoResult" type="tns:MemberNodeDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetParentManagerNodeByChildNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="capQuanLy" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accountNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parentField" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetParentManagerNodeByChildNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetParentManagerNodeByChildNoResult" type="tns:MemberNodeDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePaid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="bangKeDtos" type="tns:ArrayOfBangKeDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePaidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdatePaidResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchManagerApproval">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="capQuanLy" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accountNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchManagerApprovalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchManagerApprovalResult" type="tns:ArrayOfManagerApprovalDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfManagerApprovalDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ManagerApprovalDto" nillable="true" type="tns:ManagerApprovalDto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ManagerApprovalDto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="AccountNumber" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="ManagerLevel" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApprovedBy" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateManagerApproval">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dto" type="tns:ManagerApprovalDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateManagerApprovalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateManagerApprovalResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculateAccountLog">
        <s:complexType />
      </s:element>
      <s:element name="CalculateAccountLogResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CalculateAccountLogResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculateBonusOfAccountTree">
        <s:complexType />
      </s:element>
      <s:element name="CalculateBonusOfAccountTreeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CalculateBonusOfAccountTreeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteApprovedManager">
        <s:complexType />
      </s:element>
      <s:element name="ExecuteApprovedManagerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExecuteApprovedManagerResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculateBonusOfManagerTree">
        <s:complexType />
      </s:element>
      <s:element name="CalculateBonusOfManagerTreeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CalculateBonusOfManagerTreeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMemberAmount">
        <s:complexType />
      </s:element>
      <s:element name="GetMemberAmountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetMemberAmountResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountAmount">
        <s:complexType />
      </s:element>
      <s:element name="GetAccountAmountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetAccountAmountResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetManagerAmount">
        <s:complexType />
      </s:element>
      <s:element name="GetManagerAmountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetManagerAmountResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetManagerL6Amount">
        <s:complexType />
      </s:element>
      <s:element name="GetManagerL6AmountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetManagerL6AmountResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNewMemberList">
        <s:complexType />
      </s:element>
      <s:element name="GetNewMemberListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNewMemberListResult" type="tns:ArrayOfUserDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetNewManagerList">
        <s:complexType />
      </s:element>
      <s:element name="GetNewManagerListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetNewManagerListResult" type="tns:ArrayOfUserDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportYear">
        <s:complexType />
      </s:element>
      <s:element name="GetReportYearResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetReportYearResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAcountBonusList">
        <s:complexType />
      </s:element>
      <s:element name="GetAcountBonusListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAcountBonusListResult" type="tns:ArrayOfAccountBonusDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAccountBonusDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AccountBonusDto" nillable="true" type="tns:AccountBonusDto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AccountBonusDto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="Tong" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="Thang" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsPaid" type="s:long" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="loginSoapIn">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="loginSoapOut">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="changePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:changePassword" />
  </wsdl:message>
  <wsdl:message name="changePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:changePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="CreateUserSoapIn">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="CreateUserSoapOut">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUserSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="UpdateUserSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="CreateUserAdminSoapIn">
    <wsdl:part name="parameters" element="tns:CreateUserAdmin" />
  </wsdl:message>
  <wsdl:message name="CreateUserAdminSoapOut">
    <wsdl:part name="parameters" element="tns:CreateUserAdminResponse" />
  </wsdl:message>
  <wsdl:message name="SearchUserSoapIn">
    <wsdl:part name="parameters" element="tns:SearchUser" />
  </wsdl:message>
  <wsdl:message name="SearchUserSoapOut">
    <wsdl:part name="parameters" element="tns:SearchUserResponse" />
  </wsdl:message>
  <wsdl:message name="SearchBangKeSoapIn">
    <wsdl:part name="parameters" element="tns:SearchBangKe" />
  </wsdl:message>
  <wsdl:message name="SearchBangKeSoapOut">
    <wsdl:part name="parameters" element="tns:SearchBangKeResponse" />
  </wsdl:message>
  <wsdl:message name="SearchBangKeExtSoapIn">
    <wsdl:part name="parameters" element="tns:SearchBangKeExt" />
  </wsdl:message>
  <wsdl:message name="SearchBangKeExtSoapOut">
    <wsdl:part name="parameters" element="tns:SearchBangKeExtResponse" />
  </wsdl:message>
  <wsdl:message name="SearchBangKeHoaHongSoapIn">
    <wsdl:part name="parameters" element="tns:SearchBangKeHoaHong" />
  </wsdl:message>
  <wsdl:message name="SearchBangKeHoaHongSoapOut">
    <wsdl:part name="parameters" element="tns:SearchBangKeHoaHongResponse" />
  </wsdl:message>
  <wsdl:message name="SearchUserInfoSoapIn">
    <wsdl:part name="parameters" element="tns:SearchUserInfo" />
  </wsdl:message>
  <wsdl:message name="SearchUserInfoSoapOut">
    <wsdl:part name="parameters" element="tns:SearchUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="SearchMemberNodeDtoSoapIn">
    <wsdl:part name="parameters" element="tns:SearchMemberNodeDto" />
  </wsdl:message>
  <wsdl:message name="SearchMemberNodeDtoSoapOut">
    <wsdl:part name="parameters" element="tns:SearchMemberNodeDtoResponse" />
  </wsdl:message>
  <wsdl:message name="SearchManagerNodeDtoSoapIn">
    <wsdl:part name="parameters" element="tns:SearchManagerNodeDto" />
  </wsdl:message>
  <wsdl:message name="SearchManagerNodeDtoSoapOut">
    <wsdl:part name="parameters" element="tns:SearchManagerNodeDtoResponse" />
  </wsdl:message>
  <wsdl:message name="IsContainMemberNodeSoapIn">
    <wsdl:part name="parameters" element="tns:IsContainMemberNode" />
  </wsdl:message>
  <wsdl:message name="IsContainMemberNodeSoapOut">
    <wsdl:part name="parameters" element="tns:IsContainMemberNodeResponse" />
  </wsdl:message>
  <wsdl:message name="GetNodeDtoSoapIn">
    <wsdl:part name="parameters" element="tns:GetNodeDto" />
  </wsdl:message>
  <wsdl:message name="GetNodeDtoSoapOut">
    <wsdl:part name="parameters" element="tns:GetNodeDtoResponse" />
  </wsdl:message>
  <wsdl:message name="GetParentNodeByChildNoSoapIn">
    <wsdl:part name="parameters" element="tns:GetParentNodeByChildNo" />
  </wsdl:message>
  <wsdl:message name="GetParentNodeByChildNoSoapOut">
    <wsdl:part name="parameters" element="tns:GetParentNodeByChildNoResponse" />
  </wsdl:message>
  <wsdl:message name="GetParentManagerNodeByChildNoSoapIn">
    <wsdl:part name="parameters" element="tns:GetParentManagerNodeByChildNo" />
  </wsdl:message>
  <wsdl:message name="GetParentManagerNodeByChildNoSoapOut">
    <wsdl:part name="parameters" element="tns:GetParentManagerNodeByChildNoResponse" />
  </wsdl:message>
  <wsdl:message name="UpdatePaidSoapIn">
    <wsdl:part name="parameters" element="tns:UpdatePaid" />
  </wsdl:message>
  <wsdl:message name="UpdatePaidSoapOut">
    <wsdl:part name="parameters" element="tns:UpdatePaidResponse" />
  </wsdl:message>
  <wsdl:message name="SearchManagerApprovalSoapIn">
    <wsdl:part name="parameters" element="tns:SearchManagerApproval" />
  </wsdl:message>
  <wsdl:message name="SearchManagerApprovalSoapOut">
    <wsdl:part name="parameters" element="tns:SearchManagerApprovalResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateManagerApprovalSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateManagerApproval" />
  </wsdl:message>
  <wsdl:message name="UpdateManagerApprovalSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateManagerApprovalResponse" />
  </wsdl:message>
  <wsdl:message name="CalculateAccountLogSoapIn">
    <wsdl:part name="parameters" element="tns:CalculateAccountLog" />
  </wsdl:message>
  <wsdl:message name="CalculateAccountLogSoapOut">
    <wsdl:part name="parameters" element="tns:CalculateAccountLogResponse" />
  </wsdl:message>
  <wsdl:message name="CalculateBonusOfAccountTreeSoapIn">
    <wsdl:part name="parameters" element="tns:CalculateBonusOfAccountTree" />
  </wsdl:message>
  <wsdl:message name="CalculateBonusOfAccountTreeSoapOut">
    <wsdl:part name="parameters" element="tns:CalculateBonusOfAccountTreeResponse" />
  </wsdl:message>
  <wsdl:message name="ExecuteApprovedManagerSoapIn">
    <wsdl:part name="parameters" element="tns:ExecuteApprovedManager" />
  </wsdl:message>
  <wsdl:message name="ExecuteApprovedManagerSoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteApprovedManagerResponse" />
  </wsdl:message>
  <wsdl:message name="CalculateBonusOfManagerTreeSoapIn">
    <wsdl:part name="parameters" element="tns:CalculateBonusOfManagerTree" />
  </wsdl:message>
  <wsdl:message name="CalculateBonusOfManagerTreeSoapOut">
    <wsdl:part name="parameters" element="tns:CalculateBonusOfManagerTreeResponse" />
  </wsdl:message>
  <wsdl:message name="GetMemberAmountSoapIn">
    <wsdl:part name="parameters" element="tns:GetMemberAmount" />
  </wsdl:message>
  <wsdl:message name="GetMemberAmountSoapOut">
    <wsdl:part name="parameters" element="tns:GetMemberAmountResponse" />
  </wsdl:message>
  <wsdl:message name="GetAccountAmountSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccountAmount" />
  </wsdl:message>
  <wsdl:message name="GetAccountAmountSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccountAmountResponse" />
  </wsdl:message>
  <wsdl:message name="GetManagerAmountSoapIn">
    <wsdl:part name="parameters" element="tns:GetManagerAmount" />
  </wsdl:message>
  <wsdl:message name="GetManagerAmountSoapOut">
    <wsdl:part name="parameters" element="tns:GetManagerAmountResponse" />
  </wsdl:message>
  <wsdl:message name="GetManagerL6AmountSoapIn">
    <wsdl:part name="parameters" element="tns:GetManagerL6Amount" />
  </wsdl:message>
  <wsdl:message name="GetManagerL6AmountSoapOut">
    <wsdl:part name="parameters" element="tns:GetManagerL6AmountResponse" />
  </wsdl:message>
  <wsdl:message name="GetNewMemberListSoapIn">
    <wsdl:part name="parameters" element="tns:GetNewMemberList" />
  </wsdl:message>
  <wsdl:message name="GetNewMemberListSoapOut">
    <wsdl:part name="parameters" element="tns:GetNewMemberListResponse" />
  </wsdl:message>
  <wsdl:message name="GetNewManagerListSoapIn">
    <wsdl:part name="parameters" element="tns:GetNewManagerList" />
  </wsdl:message>
  <wsdl:message name="GetNewManagerListSoapOut">
    <wsdl:part name="parameters" element="tns:GetNewManagerListResponse" />
  </wsdl:message>
  <wsdl:message name="GetReportYearSoapIn">
    <wsdl:part name="parameters" element="tns:GetReportYear" />
  </wsdl:message>
  <wsdl:message name="GetReportYearSoapOut">
    <wsdl:part name="parameters" element="tns:GetReportYearResponse" />
  </wsdl:message>
  <wsdl:message name="GetAcountBonusListSoapIn">
    <wsdl:part name="parameters" element="tns:GetAcountBonusList" />
  </wsdl:message>
  <wsdl:message name="GetAcountBonusListSoapOut">
    <wsdl:part name="parameters" element="tns:GetAcountBonusListResponse" />
  </wsdl:message>
  <wsdl:portType name="DcapServiceSoap">
    <wsdl:operation name="login">
      <wsdl:input message="tns:loginSoapIn" />
      <wsdl:output message="tns:loginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="changePassword">
      <wsdl:input message="tns:changePasswordSoapIn" />
      <wsdl:output message="tns:changePasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input message="tns:CreateUserSoapIn" />
      <wsdl:output message="tns:CreateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input message="tns:UpdateUserSoapIn" />
      <wsdl:output message="tns:UpdateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateUserAdmin">
      <wsdl:input message="tns:CreateUserAdminSoapIn" />
      <wsdl:output message="tns:CreateUserAdminSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchUser">
      <wsdl:input message="tns:SearchUserSoapIn" />
      <wsdl:output message="tns:SearchUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchBangKe">
      <wsdl:input message="tns:SearchBangKeSoapIn" />
      <wsdl:output message="tns:SearchBangKeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchBangKeExt">
      <wsdl:input message="tns:SearchBangKeExtSoapIn" />
      <wsdl:output message="tns:SearchBangKeExtSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchBangKeHoaHong">
      <wsdl:input message="tns:SearchBangKeHoaHongSoapIn" />
      <wsdl:output message="tns:SearchBangKeHoaHongSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchUserInfo">
      <wsdl:input message="tns:SearchUserInfoSoapIn" />
      <wsdl:output message="tns:SearchUserInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchMemberNodeDto">
      <wsdl:input message="tns:SearchMemberNodeDtoSoapIn" />
      <wsdl:output message="tns:SearchMemberNodeDtoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchManagerNodeDto">
      <wsdl:input message="tns:SearchManagerNodeDtoSoapIn" />
      <wsdl:output message="tns:SearchManagerNodeDtoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsContainMemberNode">
      <wsdl:input message="tns:IsContainMemberNodeSoapIn" />
      <wsdl:output message="tns:IsContainMemberNodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNodeDto">
      <wsdl:input message="tns:GetNodeDtoSoapIn" />
      <wsdl:output message="tns:GetNodeDtoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetParentNodeByChildNo">
      <wsdl:input message="tns:GetParentNodeByChildNoSoapIn" />
      <wsdl:output message="tns:GetParentNodeByChildNoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetParentManagerNodeByChildNo">
      <wsdl:input message="tns:GetParentManagerNodeByChildNoSoapIn" />
      <wsdl:output message="tns:GetParentManagerNodeByChildNoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePaid">
      <wsdl:input message="tns:UpdatePaidSoapIn" />
      <wsdl:output message="tns:UpdatePaidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchManagerApproval">
      <wsdl:input message="tns:SearchManagerApprovalSoapIn" />
      <wsdl:output message="tns:SearchManagerApprovalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateManagerApproval">
      <wsdl:input message="tns:UpdateManagerApprovalSoapIn" />
      <wsdl:output message="tns:UpdateManagerApprovalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CalculateAccountLog">
      <wsdl:input message="tns:CalculateAccountLogSoapIn" />
      <wsdl:output message="tns:CalculateAccountLogSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CalculateBonusOfAccountTree">
      <wsdl:input message="tns:CalculateBonusOfAccountTreeSoapIn" />
      <wsdl:output message="tns:CalculateBonusOfAccountTreeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteApprovedManager">
      <wsdl:input message="tns:ExecuteApprovedManagerSoapIn" />
      <wsdl:output message="tns:ExecuteApprovedManagerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CalculateBonusOfManagerTree">
      <wsdl:input message="tns:CalculateBonusOfManagerTreeSoapIn" />
      <wsdl:output message="tns:CalculateBonusOfManagerTreeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMemberAmount">
      <wsdl:input message="tns:GetMemberAmountSoapIn" />
      <wsdl:output message="tns:GetMemberAmountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountAmount">
      <wsdl:input message="tns:GetAccountAmountSoapIn" />
      <wsdl:output message="tns:GetAccountAmountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetManagerAmount">
      <wsdl:input message="tns:GetManagerAmountSoapIn" />
      <wsdl:output message="tns:GetManagerAmountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetManagerL6Amount">
      <wsdl:input message="tns:GetManagerL6AmountSoapIn" />
      <wsdl:output message="tns:GetManagerL6AmountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNewMemberList">
      <wsdl:input message="tns:GetNewMemberListSoapIn" />
      <wsdl:output message="tns:GetNewMemberListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetNewManagerList">
      <wsdl:input message="tns:GetNewManagerListSoapIn" />
      <wsdl:output message="tns:GetNewManagerListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReportYear">
      <wsdl:input message="tns:GetReportYearSoapIn" />
      <wsdl:output message="tns:GetReportYearSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAcountBonusList">
      <wsdl:input message="tns:GetAcountBonusListSoapIn" />
      <wsdl:output message="tns:GetAcountBonusListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DcapServiceSoap" type="tns:DcapServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="login">
      <soap:operation soapAction="http://tempuri.org/login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changePassword">
      <soap:operation soapAction="http://tempuri.org/changePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://tempuri.org/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUserAdmin">
      <soap:operation soapAction="http://tempuri.org/CreateUserAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchUser">
      <soap:operation soapAction="http://tempuri.org/SearchUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchBangKe">
      <soap:operation soapAction="http://tempuri.org/SearchBangKe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchBangKeExt">
      <soap:operation soapAction="http://tempuri.org/SearchBangKeExt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchBangKeHoaHong">
      <soap:operation soapAction="http://tempuri.org/SearchBangKeHoaHong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchUserInfo">
      <soap:operation soapAction="http://tempuri.org/SearchUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchMemberNodeDto">
      <soap:operation soapAction="http://tempuri.org/SearchMemberNodeDto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchManagerNodeDto">
      <soap:operation soapAction="http://tempuri.org/SearchManagerNodeDto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsContainMemberNode">
      <soap:operation soapAction="http://tempuri.org/IsContainMemberNode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNodeDto">
      <soap:operation soapAction="http://tempuri.org/GetNodeDto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetParentNodeByChildNo">
      <soap:operation soapAction="http://tempuri.org/GetParentNodeByChildNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetParentManagerNodeByChildNo">
      <soap:operation soapAction="http://tempuri.org/GetParentManagerNodeByChildNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePaid">
      <soap:operation soapAction="http://tempuri.org/UpdatePaid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchManagerApproval">
      <soap:operation soapAction="http://tempuri.org/SearchManagerApproval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateManagerApproval">
      <soap:operation soapAction="http://tempuri.org/UpdateManagerApproval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateAccountLog">
      <soap:operation soapAction="http://tempuri.org/CalculateAccountLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateBonusOfAccountTree">
      <soap:operation soapAction="http://tempuri.org/CalculateBonusOfAccountTree" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteApprovedManager">
      <soap:operation soapAction="http://tempuri.org/ExecuteApprovedManager" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateBonusOfManagerTree">
      <soap:operation soapAction="http://tempuri.org/CalculateBonusOfManagerTree" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemberAmount">
      <soap:operation soapAction="http://tempuri.org/GetMemberAmount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountAmount">
      <soap:operation soapAction="http://tempuri.org/GetAccountAmount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetManagerAmount">
      <soap:operation soapAction="http://tempuri.org/GetManagerAmount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetManagerL6Amount">
      <soap:operation soapAction="http://tempuri.org/GetManagerL6Amount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewMemberList">
      <soap:operation soapAction="http://tempuri.org/GetNewMemberList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewManagerList">
      <soap:operation soapAction="http://tempuri.org/GetNewManagerList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportYear">
      <soap:operation soapAction="http://tempuri.org/GetReportYear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAcountBonusList">
      <soap:operation soapAction="http://tempuri.org/GetAcountBonusList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DcapServiceSoap12" type="tns:DcapServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="login">
      <soap12:operation soapAction="http://tempuri.org/login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changePassword">
      <soap12:operation soapAction="http://tempuri.org/changePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap12:operation soapAction="http://tempuri.org/CreateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap12:operation soapAction="http://tempuri.org/UpdateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUserAdmin">
      <soap12:operation soapAction="http://tempuri.org/CreateUserAdmin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchUser">
      <soap12:operation soapAction="http://tempuri.org/SearchUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchBangKe">
      <soap12:operation soapAction="http://tempuri.org/SearchBangKe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchBangKeExt">
      <soap12:operation soapAction="http://tempuri.org/SearchBangKeExt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchBangKeHoaHong">
      <soap12:operation soapAction="http://tempuri.org/SearchBangKeHoaHong" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchUserInfo">
      <soap12:operation soapAction="http://tempuri.org/SearchUserInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchMemberNodeDto">
      <soap12:operation soapAction="http://tempuri.org/SearchMemberNodeDto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchManagerNodeDto">
      <soap12:operation soapAction="http://tempuri.org/SearchManagerNodeDto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsContainMemberNode">
      <soap12:operation soapAction="http://tempuri.org/IsContainMemberNode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNodeDto">
      <soap12:operation soapAction="http://tempuri.org/GetNodeDto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetParentNodeByChildNo">
      <soap12:operation soapAction="http://tempuri.org/GetParentNodeByChildNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetParentManagerNodeByChildNo">
      <soap12:operation soapAction="http://tempuri.org/GetParentManagerNodeByChildNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePaid">
      <soap12:operation soapAction="http://tempuri.org/UpdatePaid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchManagerApproval">
      <soap12:operation soapAction="http://tempuri.org/SearchManagerApproval" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateManagerApproval">
      <soap12:operation soapAction="http://tempuri.org/UpdateManagerApproval" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateAccountLog">
      <soap12:operation soapAction="http://tempuri.org/CalculateAccountLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateBonusOfAccountTree">
      <soap12:operation soapAction="http://tempuri.org/CalculateBonusOfAccountTree" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteApprovedManager">
      <soap12:operation soapAction="http://tempuri.org/ExecuteApprovedManager" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateBonusOfManagerTree">
      <soap12:operation soapAction="http://tempuri.org/CalculateBonusOfManagerTree" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemberAmount">
      <soap12:operation soapAction="http://tempuri.org/GetMemberAmount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountAmount">
      <soap12:operation soapAction="http://tempuri.org/GetAccountAmount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetManagerAmount">
      <soap12:operation soapAction="http://tempuri.org/GetManagerAmount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetManagerL6Amount">
      <soap12:operation soapAction="http://tempuri.org/GetManagerL6Amount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewMemberList">
      <soap12:operation soapAction="http://tempuri.org/GetNewMemberList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewManagerList">
      <soap12:operation soapAction="http://tempuri.org/GetNewManagerList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReportYear">
      <soap12:operation soapAction="http://tempuri.org/GetReportYear" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAcountBonusList">
      <soap12:operation soapAction="http://tempuri.org/GetAcountBonusList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DcapService">
    <wsdl:port name="DcapServiceSoap" binding="tns:DcapServiceSoap">
      <soap:address location="http://localhost:39228/view/DcapService.asmx" />
    </wsdl:port>
    <wsdl:port name="DcapServiceSoap12" binding="tns:DcapServiceSoap12">
      <soap12:address location="http://localhost:39228/view/DcapService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>