trunk/source/dcap/web-app/Service References/DcapServiceReference/DcapService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="loginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginResult" type="tns:UserDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UserDto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="AccountNumber" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FullName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NgaySinh" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="SoCmnd" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NgayCap" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="SoDienThoai" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DiaChi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GioiTinh" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SoTaiKhoan" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ChiNhanhNH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ImageUrl" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CreatedDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="CreatedBy" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AllRoles" type="tns:ArrayOfRoleDto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRoleDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RoleDto" nillable="true" type="tns:RoleDto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RoleDto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RoleID" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="RoleCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="changePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="oldPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="newPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="confirmPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="changePasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="changePasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="parentId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="directParentId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ngaySinh" nillable="true" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="soCmnd" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ngayCap" nillable="true" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="soDienThoai" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="diaChi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="gioiTinh" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="soTaiKhoan" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="chiNhanhNH" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="photoUrl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="createdBy" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fullName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ngaySinh" nillable="true" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="soCmnd" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ngayCap" nillable="true" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="soDienThoai" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="diaChi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="gioiTinh" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="soTaiKhoan" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="chiNhanhNH" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="photoUrl" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateUserAdmin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fullName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="roleCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="createdBy" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateUserAdminResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateUserAdminResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="parentId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="directParentId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ngaySinh" nillable="true" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="soCmnd" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ngayCap" nillable="true" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="soDienThoai" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="diaChi" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="gioiTinh" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="soTaiKhoan" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="chiNhanhNH" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchBangKe">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="thangKeKhai" nillable="true" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchBangKeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchBangKeResult" type="tns:ArrayOfBangKeDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBangKeDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BangKeDto" nillable="true" type="tns:BangKeDto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BangKeDto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="STT" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="HoTen" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GioiTinh" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SoCmnd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NgayCap" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DiaChi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SoTaiKhoan" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ChiNhanhNH" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SoDienThoai" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NgayDangKy" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NguoiBaoTro" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SoTien" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Thang" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CalculateAccountLog">
        <s:complexType />
      </s:element>
      <s:element name="CalculateAccountLogResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CalculateAccountLogResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculateBonusOfAccountTree">
        <s:complexType />
      </s:element>
      <s:element name="CalculateBonusOfAccountTreeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CalculateBonusOfAccountTreeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteApprovedManager">
        <s:complexType />
      </s:element>
      <s:element name="ExecuteApprovedManagerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExecuteApprovedManagerResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CalculateBonusOfManagerTree">
        <s:complexType />
      </s:element>
      <s:element name="CalculateBonusOfManagerTreeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CalculateBonusOfManagerTreeResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="loginSoapIn">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="loginSoapOut">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="changePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:changePassword" />
  </wsdl:message>
  <wsdl:message name="changePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:changePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="CreateUserSoapIn">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="CreateUserSoapOut">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUserSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="UpdateUserSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="CreateUserAdminSoapIn">
    <wsdl:part name="parameters" element="tns:CreateUserAdmin" />
  </wsdl:message>
  <wsdl:message name="CreateUserAdminSoapOut">
    <wsdl:part name="parameters" element="tns:CreateUserAdminResponse" />
  </wsdl:message>
  <wsdl:message name="SearchUserSoapIn">
    <wsdl:part name="parameters" element="tns:SearchUser" />
  </wsdl:message>
  <wsdl:message name="SearchUserSoapOut">
    <wsdl:part name="parameters" element="tns:SearchUserResponse" />
  </wsdl:message>
  <wsdl:message name="SearchBangKeSoapIn">
    <wsdl:part name="parameters" element="tns:SearchBangKe" />
  </wsdl:message>
  <wsdl:message name="SearchBangKeSoapOut">
    <wsdl:part name="parameters" element="tns:SearchBangKeResponse" />
  </wsdl:message>
  <wsdl:message name="CalculateAccountLogSoapIn">
    <wsdl:part name="parameters" element="tns:CalculateAccountLog" />
  </wsdl:message>
  <wsdl:message name="CalculateAccountLogSoapOut">
    <wsdl:part name="parameters" element="tns:CalculateAccountLogResponse" />
  </wsdl:message>
  <wsdl:message name="CalculateBonusOfAccountTreeSoapIn">
    <wsdl:part name="parameters" element="tns:CalculateBonusOfAccountTree" />
  </wsdl:message>
  <wsdl:message name="CalculateBonusOfAccountTreeSoapOut">
    <wsdl:part name="parameters" element="tns:CalculateBonusOfAccountTreeResponse" />
  </wsdl:message>
  <wsdl:message name="ExecuteApprovedManagerSoapIn">
    <wsdl:part name="parameters" element="tns:ExecuteApprovedManager" />
  </wsdl:message>
  <wsdl:message name="ExecuteApprovedManagerSoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteApprovedManagerResponse" />
  </wsdl:message>
  <wsdl:message name="CalculateBonusOfManagerTreeSoapIn">
    <wsdl:part name="parameters" element="tns:CalculateBonusOfManagerTree" />
  </wsdl:message>
  <wsdl:message name="CalculateBonusOfManagerTreeSoapOut">
    <wsdl:part name="parameters" element="tns:CalculateBonusOfManagerTreeResponse" />
  </wsdl:message>
  <wsdl:portType name="DcapServiceSoap">
    <wsdl:operation name="login">
      <wsdl:input message="tns:loginSoapIn" />
      <wsdl:output message="tns:loginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="changePassword">
      <wsdl:input message="tns:changePasswordSoapIn" />
      <wsdl:output message="tns:changePasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input message="tns:CreateUserSoapIn" />
      <wsdl:output message="tns:CreateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input message="tns:UpdateUserSoapIn" />
      <wsdl:output message="tns:UpdateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateUserAdmin">
      <wsdl:input message="tns:CreateUserAdminSoapIn" />
      <wsdl:output message="tns:CreateUserAdminSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchUser">
      <wsdl:input message="tns:SearchUserSoapIn" />
      <wsdl:output message="tns:SearchUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchBangKe">
      <wsdl:input message="tns:SearchBangKeSoapIn" />
      <wsdl:output message="tns:SearchBangKeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CalculateAccountLog">
      <wsdl:input message="tns:CalculateAccountLogSoapIn" />
      <wsdl:output message="tns:CalculateAccountLogSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CalculateBonusOfAccountTree">
      <wsdl:input message="tns:CalculateBonusOfAccountTreeSoapIn" />
      <wsdl:output message="tns:CalculateBonusOfAccountTreeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteApprovedManager">
      <wsdl:input message="tns:ExecuteApprovedManagerSoapIn" />
      <wsdl:output message="tns:ExecuteApprovedManagerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CalculateBonusOfManagerTree">
      <wsdl:input message="tns:CalculateBonusOfManagerTreeSoapIn" />
      <wsdl:output message="tns:CalculateBonusOfManagerTreeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DcapServiceSoap" type="tns:DcapServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="login">
      <soap:operation soapAction="http://tempuri.org/login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changePassword">
      <soap:operation soapAction="http://tempuri.org/changePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://tempuri.org/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUserAdmin">
      <soap:operation soapAction="http://tempuri.org/CreateUserAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchUser">
      <soap:operation soapAction="http://tempuri.org/SearchUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchBangKe">
      <soap:operation soapAction="http://tempuri.org/SearchBangKe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateAccountLog">
      <soap:operation soapAction="http://tempuri.org/CalculateAccountLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateBonusOfAccountTree">
      <soap:operation soapAction="http://tempuri.org/CalculateBonusOfAccountTree" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteApprovedManager">
      <soap:operation soapAction="http://tempuri.org/ExecuteApprovedManager" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateBonusOfManagerTree">
      <soap:operation soapAction="http://tempuri.org/CalculateBonusOfManagerTree" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DcapServiceSoap12" type="tns:DcapServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="login">
      <soap12:operation soapAction="http://tempuri.org/login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changePassword">
      <soap12:operation soapAction="http://tempuri.org/changePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap12:operation soapAction="http://tempuri.org/CreateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap12:operation soapAction="http://tempuri.org/UpdateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUserAdmin">
      <soap12:operation soapAction="http://tempuri.org/CreateUserAdmin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchUser">
      <soap12:operation soapAction="http://tempuri.org/SearchUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchBangKe">
      <soap12:operation soapAction="http://tempuri.org/SearchBangKe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateAccountLog">
      <soap12:operation soapAction="http://tempuri.org/CalculateAccountLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateBonusOfAccountTree">
      <soap12:operation soapAction="http://tempuri.org/CalculateBonusOfAccountTree" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteApprovedManager">
      <soap12:operation soapAction="http://tempuri.org/ExecuteApprovedManager" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateBonusOfManagerTree">
      <soap12:operation soapAction="http://tempuri.org/CalculateBonusOfManagerTree" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DcapService">
    <wsdl:port name="DcapServiceSoap" binding="tns:DcapServiceSoap">
      <soap:address location="http://localhost:39227/view/DcapService.asmx" />
    </wsdl:port>
    <wsdl:port name="DcapServiceSoap12" binding="tns:DcapServiceSoap12">
      <soap12:address location="http://localhost:39227/view/DcapService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>